<!DOCTYPE html>

<!--[if lt IE 7]>      <html ng-app="Adaplo" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="Adaplo" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="Adaplo" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="Adaplo" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title ng-bind="pageTitle + ' Adaplo'"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, user-scalable=no">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    <link rel="stylesheet" href="client/app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->

  </head>
  <body >

    <div  ui-view="mainMenu"></div>
    <div ui-view=""ng-if="!stateIsLoading" ng-style="{'height': '100%'}"></div>
    <div class="state-loader-container" ng-if="stateIsLoading">
    
    <!-- build:js({client,node_modules}) client/client/app/vendor.js -->
      <!-- bower:js -->
      <script src="../bower_components/jquery/dist/jquery.js"></script>
      <script src="../bower_components/angular/angular.js"></script>
      <script src="../bower_components/angular-resource/angular-resource.js"></script>
      <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

      <script src="../bower_components/angular-smart-table/dist/smart-table.js"></script>


      <script src="client/app/app.js"></script>

      <script src="client/app/admin/admin.controller.js"></script>
      <script src="client/app/admin/admin.js"></script>

          <script src="client/app/admin/lists/lists.js"></script>


          <script src="client/app/main/main.controller.js"></script>
          <script src="client/app/home/home.controller.js"></script>
          <script src="client/app/home/home.js"></script>
          <script src="client/app/home/login/login.controller.js"></script>
          <script src="client/app/home/login/login.js"></script>
          <script src="client/app/home/mainmenu/main_menu.controller.js"></script>



          <script src="client/components/lists/lists.service.js"></script>
          <script src="client/components/auth/account.service.js"></script>
          <script src="client/components/auth/auth.service.js"></script>

          <script src="client/components/navbar/navbar.controller.js"></script>


          <!-- endinjector -->
        <!-- endbuild -->
</body>
</html>
