<div class="footer-separator"></div>

<div layout="row" layout-align="space-between center" class="footer-content">

    <span flex="80">
        <ul class="adaplo-footer-items"  layout="row">
            <li>
                <a target="_blank" href="http://www.adaplo.com">
                    About
                </a>
            </li>
        </ul>
    </span>

    <span flex="20" layout="row" >
        <ul class="adaplo-footer-items footer-social" layout="row" >
            <li>2016 &copy; Adaplo</li>
        </ul>
    </span>

</div>
