

<div class="right">
    <div id="ic">

        <div ng-show="error" class="login-error-msg">
          An Error Occurred: <br/> {{errorMessage}}
        </div>

        <h2>Login</h2>

        <form name="loginForm" class="register-form">

            <md-input-container class="md-block">
                <input md-no-asterisk
                       type="text"
                       name="apikey"
                       placeholder=" Api key"
                       ng-model="user.apikey"
                       required>
            </md-input-container>


            <md-button type="submit" ng-click="signin(user.apikey)"
                        ng-disabled="loginForm.$invalid" class="login-register-btn">
                Login
            </md-button>

        </form>
    </div>
</div>
