$blue-primary:#003E66;
$grey-line:#e2e2e2;
$footer-color:#b3b3b3;
$grey-color:#404040;

/* GENERAL RULES */

.full-height {
  height:100%!important;
}

.pointer {
  cursor:pointer;
}

.tac {
  text-align:center;
}

.upper {
  text-transform: uppercase;
}

.margin-l-auto {
  margin-left:auto;
}

.separator {
  clear:both;
  height:1px;
}

.separator5 {
  clear:both;
  height:5px;
}

.separator-10 {
  clear:both;
  height:10px;
}

.float-right {
  float:right;
}
.loader-bar {
    position: fixed;
    z-index: 999;

    width: 99%;
    height: 5px;

    top: 64px;
    left: 0;
}

.blue-font {
  color:$blue-primary;
}

md-menu-item > .md-button {
 font-size:14px;
  font-weight: 100;
}

/* adaplo MENU */
#adaplo-menu-container {
  background-color: $blue-primary;
  display: block;
  position: fixed;
  top: 0;
  width: 99%;
  img {
    width: 144px;
    padding-left: 1em;
    padding-top:15px;
  }
  .adaplo-main-menu {
    float: right;
    li {
      float: left;
      list-style-type: none;
      padding-right: 2em;
      line-height: 40px;
      font-size: 14px;
      margin-top: 14px;
      font-weight: 900;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 2s ease;
      &:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
        transition: border-bottom-color .1s ease-out;
      }
    }
    .active-link-menu{
      padding-bottom:5px;
      border-bottom: 1px solid #fff;
      transition: border-bottom-color .1s ease-out;
    }

    i {
      position:relative;
      top:8px;
      cursor: pointer;
      left:10px;
    }
  }
}
/* adaplo CONTAINERS */
.adaplo-site-separator {
  clear:both;
  height:130px; //height of menu and main area fixed top bar
}

.adaplo-site-separator-no-sidebar {
  clear:both;
  height:80px; //height of menu and main area fixed top bar
}

.adaplo-main-content {
  height:100%;
  width:100%;

}

.left-main-content {
  //background-color:#f4f4f4;
  background-color: #EDECEC;
}

.main-area-fixed-top-bar {
  background-color:#fff;
  position:fixed;
  width:99%;
  border-left: 1px solid;
  border-color:#eeeeee;
  right: 0;
  top: 64px;
  left: 0;
  z-index:10;

  .left-top-area {
    width:300px;
    padding:20px;
    border-right:1px solid;
    border-bottom:1px solid;
    border-color:$grey-line;
    color:#404040;
  }
  .right-top-area {
    padding-top: 10px;
    padding-left: 20px;
    color:#404040;
  }
}

.adaplo-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top:0;
  padding: 20px;

  .footer-separator {
    border-top:1px solid $grey-line;
  }
  .footer-content {
    padding-top:15px;
  }
  .adaplo-footer-items {
    list-style-type:none;
    padding-left:0px;
    li {
      padding-right:10px;
      color:$footer-color;
    }
    a {
      color:$footer-color;
    }
  }
  .footer-social {
    margin-left: auto;
    padding-right:0px;
  }
}

#md-sidenav-right {
  max-width: 900px!important;
  margin-top:124px;
}

@media screen and (min-width: 600px) {
  md-sidenav.md-locked-open, {
  max-width: 300px;
  margin-top:124px;
    z-index: 10;
  }

  #md-sidenav-right {
    min-width: 570px !important;
    max-width: 570px !important;
  }
}

@media screen and (max-width: 600px) {
  .md-sidenav-left {
    max-width: 400px;
    /*margin-top:124px;*/
  }

}

/* adaplo SIDE BAR MENU */

.adaplo-sidebar-menu {
  padding: 0px;
  li {
    line-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid $grey-line;
    cursor: pointer;
   a {
     padding-left: 20px;
     color: $grey-color;
     text-decoration: none;
   }
    &:hover {
      text-decoration: none;
    }
    i {
      float: right;
      position: relative;
      top: 15px;
    }
    &:focus {
      outline: none !important;
    }
  }
  .active {
    background-color:#fff;
    -moz-box-shadow:    inset  0  8px 8px -8px rgba(0, 0, 0, 0.125),
    inset  0 -8px 8px -8px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset  0  8px 8px -8px rgba(0, 0, 0, 0.125),
    inset  0 -8px 8px -8px rgba(0, 0, 0, 0.125);
    box-shadow:        inset  0  8px 8px -8px rgba(0, 0, 0, 0.125),
    inset  0 -8px 8px -8px rgba(0, 0, 0, 0.125);
   cursor: default;
    a {
      font-weight:400;
    }
  }
}

.adaplo-sidebar-nested-menu {
   padding:0px;
  li {
    line-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid $grey-line;

    .plugin-main-types {
      cursor: pointer;
      &:focus {
        outline: none !important;
      }
    }
    a {
      padding-left: 20px;
      color: $grey-color;
      text-decoration: none;
    }
    .plugin-children {
      background-color: #F8F8F8;
      padding-left:10px;
      border-bottom: 1px solid $grey-line;

    .add-new-plugin {
      font-size:13px;
      float:right;
      position:relative;
      top:7px;
      color:#003557;
    }
      .expand-children {
        position:relative;
        top:5px;
      }
    }
    .plugin-children:last-child {
      border-bottom: none!important;
    }
    .active-plugins {

    }

  }
}

/*adaplo BOXES */

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  .single-box-4 {
    margin-right:1%;
    margin-bottom:1%;
    width:24.25%;
  }
  .single-box-3 {
    margin-right:1%;
    margin-bottom:1%;
    width:32.666%;
  }
  .single-box-2 {
    margin-right:1%;
    margin-bottom:1%;
    width:49.5%;
  }
  .single-box-top {
    height:200px;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
  }
  .single-box-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    padding:20px 0px 20px 20px;
    border-top:1px solid #e2e2e2;
  }
  .single-box-last {
    margin-right:0px!important;
  }
  .white-background {
    background-color: #fff;
  }

  .influence {
    background-color: #6696FF;
  }

  .audience-spending-habbits {
    background-color: #00c996;
  }

  .audience-interests {
    background-color: #8274ff;
  }

  .height60 {
    height:60px;
  }

  .expand-button {
    position:relative;
    bottom:15px;
    float:right;
    i {
      position: relative;
      top:5px;
    }
  }
}

.input-error {
  color: red;
}

/*Responsive Boxes */
@media all and (max-width: 568px) {
  .single-box-4 {
    width: 100%!important;
    }

  }

/* RESPONSIVE SMART TABLE IN USERLIST AND PLUGIN LIST */

@media all and (max-width: 650px) {
  table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  tbody {
    display: inline-block;
  }

  thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  thead, tfoot {
    flex-shrink: 0;
  }

  th, tbody td {
    width:20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}







