$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../assets/fonts/Roboto-Light.ttf") format("opentype");
}

@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';

/**
 * App-wide Styles
 */


body, html {
    font-family: "Roboto-Light"!important;
    display: flex;
    min-height: 100vh!important;
    flex-direction: column;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.state-loader-container {
   background-color:#f2f2f2;
  .state-image-loader {
     position:fixed;
     left:45%;
     top:35%;
 }
    span {
       font-size:32px;
        color:#ccc;
        position:fixed;
        top:50%;
        left:40%;
    }
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'home/home.scss';
@import 'adaplo.scss';
// endinjector
