<md-toolbar layout="column" id="adaplo-menu-container" layout-align="space-between center">
    <!--The left side-->
    <!--The right side-->
    <span hide-xs hide-sm flex="80">
        <ul class="adaplo-main-menu"  layout="row" hide-sm>
            <li ng-show="navbar.isLoggedIn()">
                <a href="#"><span>Hello, {{navbar.name}}</span></a>
            </li>

        </ul>
    </span>
</md-toolbar>
