<div class='userlist-container'>
    <div class="adaplo-site-separator-no-sidebar"></div>

    <div class="flex userlist-container-table">
        <div class='row table-row'>
            <div class="col-lg-12">
            <ul  class="nav navbar-nav">
                <li>
                    <a ui-sref="main.admin.list({ listid: listid })" ><span>Back to List {{listid}}</span></a>
                </li>
            </ul>
            </div>
        </div>
        <div class='table-row'>
            <div class="col-lg-6">
                <table class="table table-striped adaplo-table">
                    <tbody>
                    <tr>
                        <td><strong>Subscriber's Email:</strong></td>
                        <td><input type="email" name="email" value="{{email}}" ng-model="email"/></td>
                    </tr>
                    <tr>
                        <td><strong>Subscriber's Name:</strong></td>
                        <td><input type="text" name="name" value="{{name}}" ng-model="name"/></td>
                    </tr>
                    </tbody>
                </table>
                <md-button type="submit" ng-click="addtolist()"
                           ng-disabled="loginForm.$invalid" class="add-btn">
                    Add To List
                </md-button>
            </div>
        </div>
    </div>

</div>

<div class="adaplo-footer"  ui-view="footer"></div>

<style>
    .table >  tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        line-height: 3;
        vertical-align: middle;
    }
</style>
