<div class='userlist-container'>
    <div class="adaplo-site-separator-no-sidebar"></div>

    <div class="flex userlist-container-table">
        <div class='row table-row'>
            <div class="col-lg-12">
            <ul  class="nav navbar-nav">
                <li>
                    <a ui-sref="main.admin.lists"><span>Back to Lists</span></a>
                </li>
                <li>
                    <a ui-sref="main.admin.list.add({ listid: list.list.ListID })"><span>Add Subscriber</span></a>
                </li>
            </ul>
            </div>
        </div>
        <div class='table-row'>
            <div class="col-lg-4">
                <table class="table table-striped adaplo-table">
                    <tbody>
                    <tr>
                        <td><strong>List Title:</strong></td>
                        <td>{{list.list.Title}}</td>
                    </tr>
                    <tr>
                        <td><strong>Confirmed Opt In:</strong></td>
                        <td>{{list.list.ConfirmedOptIn}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Active Subscribers:</strong></td>
                        <td>{{list.stat.TotalActiveSubscribers}}</td>
                    </tr>
                    <tr>
                        <td><strong>New Active Subscribers Today:</strong></td>
                        <td>{{list.stat.NewActiveSubscribersToday}}</td>
                    </tr>
                    <tr>
                        <td><strong>New Active Subscribers Month:</strong></td>
                        <td>{{list.stat.NewActiveSubscribersThisMonth}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8">
            <table class="table table-striped adaplo-table">
                <thead>
                    <tr>
                        <th>#EmailAddress</th>
                        <th>Name</th>
                        <th>Date Name</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in list.subscribers">
                        <td>{{value.EmailAddress}}</td>
                        <td>{{value.Name}}</td>
                        <td>{{value.Date}}</td>
                        <td>{{value.State}}</td>
                        <td><a ng-click="removeFromList(value.EmailAddress)"><span class="fa fa-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>

<div class="adaplo-footer"  ui-view="footer"></div>

<style>
    .table >  tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        line-height: 3;
        vertical-align: middle;
    }
</style>
