<div class='userlist-container'>
    <div class="adaplo-site-separator-no-sidebar"></div>

    <div class="flex userlist-container-table">
        <div class='table-row'>
            <table class="table table-striped adaplo-table">
                <thead>
                    <tr>
                        <th>#ListID</th>
                        <th>List Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in admin.lists">
                        <td>{{value.ListID}}</td>
                        <td><a ui-sref="main.admin.list({ listid: value.ListID })">{{value.Name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="adaplo-footer"  ui-view="footer"></div>

<style>
    .table >  tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        line-height: 3;
        vertical-align: middle;
    }
</style>
