.adaplo-pre-login {
    h2 {
      font-size: 30px;
      font-weight: 300;
      color: #03A9F4;
    }

.blue {
  color: #03A9F4;
}

  .blue-primary {
    color:#003E66;
  }

  .grey {
    color:#2C3034;
  }

#textbox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toplam {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: #F9F9F9;
  right: 0;
  position: absolute;
}

#ic {
  width: 300px;
  margin: 0 auto;
  top: 50%;
  margin-top: -162px;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.left #ic {
  margin-top: -232px;
}

#ic p,
.adaplo-verification-container p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #757575;
  margin-bottom: 30px;
}


.login-register-btn {
  width: auto;
  float: right;
  background: #03A9F4;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 !important;
  line-height: 16px;
  text-transform: uppercase;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,-webkit-box-shadow;
  transition-property: background-color,box-shadow;
  border: 0;
  &:hover {
    background: #0288D1;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
}


#moveleft, #moveright {
  width: auto;
  float: right;
  background: none;
  padding: 10px 16px;
  font-family: Roboto;
  font-size: 14px;
  color: #03A9F4;
  font-weight: 600;
  margin: 0 10px !important;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: 0;
  outline: 0;
}

#moveleft:hover {
  background: #eee;
}
#moveright:hover {
  background: #363A3D;
}

//#fback { width: 100%; height: 100%; position: absolute; z-index: 999; }
.right-back {
  position: absolute; right: 0; width: 50%; height: 100%;
  background-size: cover; background-position: 50% 50%;
}

.left-back {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover; background-position: 50% 50%;
}


  .login-error-msg {
    color:red;
    padding:10px;
    border:1px solid;
    border-style: dashed;
    border-color:red;
  }

  .home-text-container {
    margin-top:35%;
    margin-left:15%;
  }

  .home-main-title {
    font-size: 45px;
    padding-bottom: 5%;
  }

  .home-sub-title {
    font-size: 22px;
  }
}

.register-form input {
  height: 38px;
  width: 200px;
}

.register-input-container label {
  color: #757575 !important;
}

.register-input-container input {
  border-color: #757575;
  color: white;
}

.register-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #03A9F4;
}

/* VERIFICATION PAGE */
.adaplo-verification-container {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 500px;
  margin-left: -225px;
}

/* MOBILE */

@media all and (max-width: 768px) {
  .adaplo-pre-login .right {
    width: 100% !important;
  }
  .adaplo-pre-login .left {
    width: 100% !important;
    height:110%!important;
  }
  .adaplo-pre-login #ic {
    left:42%;
  }
  .adaplo-pre-login .adaplo-verification-container {
    left: 42%;
    width: 300px;
    margin-left: -125px;
  }
}
