<div ui-view="mainMenu"></div>

<div class="adaplo-pre-login" hide-xs hide-sm>
<div id="fback">
    <div class="left-back">
      <div class="home-text-container blue-primary" >
       <div class="home-main-title ">
           Welcome to Adaplo!
           <div class="separator"></div>
       </div>
       <div class="home-sub-title">
           Login to Campaign Monitor to manage
           <div class="separator"></div>
           your Mailling Lists
           </div>
      </div>
    </div>
</div>

<div id="textbox">
    <div class="toplam" id="toplam">

        <div ui-view></div>

    </div>
</div>
</div>


